<!doctype html>
<html lang="en" ng-app="Squilla">
<head>
    <meta charset="utf-8">
    <title>Squilla</title>

<!--
    <link rel="stylesheet" href="{{ url_for('core.static', filename='lib/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('core.static', filename='css/main.css') }}">

    <script src="{{ url_for('core.static', filename='lib/js/angular.js') }}"></script>
    <script src="{{ url_for('core.static', filename='lib/js/angular-route.js') }}"></script>
    <script src="{{ url_for('core.static', filename='lib/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('core.static', filename='lib/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('core.static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('core.static', filename='js/controllers.js') }}"></script>
    <script src="{{ url_for('core.static', filename='js/services.js') }}"></script>
-->
    <link rel="icon" href="/static/img/harbour-squilla.png">

    <link rel="stylesheet" href="/static/core/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/static/core/css/main.css">
    <script src="/static/core/lib/js/angular.js"></script>
    <script src="/static/core/lib/js/angular-route.js"></script>
    <script src="/static/core/lib/js/jquery.min.js"></script>
    <script src="/static/core/lib/js/bootstrap.min.js"></script>
 
    <script src="/static/core/js/app.js"></script>
    <script src="/static/core/js/controllers.js"></script>
    <script src="/static/core/js/services.js"></script>

    {% for module in modules %}
        <script src="/static/{{module}}/js/app.js"></script>
        <script src="/static/{{module}}/js/services.js"></script>
    {% endfor %}

</head>
<body>

  {# Menus #}
  <div ng-include src=" '/static/core/partials/menus.html' "></div>

  {# Page #}
  <div class="container page">
    {# Dynamic page #}
    <div ng-view class="content"></div>

    {# Footer #}
    <hr>
    <footer id="footer" class="footer">
      <div class="footer-left">
        <a href="/about">About</a> |
        <a href="/">Home</a>
      </div>
      <div class="footer-right">
        <span>&copy; 2014 Squilla</span>
      </div>
    </footer>
  </div>
</body>

