[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=HeySms
Comment=HeySms forwards sms to your Bonjour account. You can also answer by Bonjour.
Exec=/opt/heysms/heysms_loader.py
Icon=heysms
X-Icon-path=/usr/share/icons
X-Window-Icon=heysms
Type=Application
X-Osso-Type=application/x-executable
