  <nav class="navbar navbar-default" role="navigation" ng-app="squilla" ng-controller="MenusCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="logo" src="/static/core/img/harbour-squilla.png" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" ng-repeat="menu in menus">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ menu.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" >
              <li ng-repeat="submenu in menu.submenus">
                <a href="{{ submenu.url }}">{{ submenu.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
